shallow_clone: true

environment:
  matrix:
  - LUA: "lua 5.1"
  - LUA: "lua 5.2 --compat none"
  - LUA: "lua 5.3 --compat none"
  - LUA: "luajit 2.0"
  - LUA: "luajit 2.1"

matrix:
  fast_finish: true

install:
  - set PATH=%CD%\env\bin;C:\Python27\Scripts;%PATH%
  - pip install hererocks
  - hererocks env --%LUA%

init:
- set generator="Visual Studio 14 2015 Win64"

before_build:
- cmake -G %generator% .

build_script:
- cmake --build . --config Release

after_build:
- copy "Release\sleep.dll"

test_script:
- lua test.lua
